*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{

}

.menu{
    height: 70px;
    padding: 0 50px;
    text-align: right;
    position: fixed;
    width: 100%;
}