*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    height: 300vh;
}

header{
    background-color: blueviolet;
    height: 80px;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
}

header a{
    color: #fff;
    padding: 20px;
}

.container{
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid steelblue;
    position: sticky;
}

.box{
    background: steelblue;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
/* 
 .static{
    position: static;
} */

/* .relative{
    background: rgb(20, 220, 110);
    position: relative;
    bottom: 10px;
    top: 10px;
    left: 100px;
    bottom: 120px;

 }  */

/* .absolute{
    background: purple;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
} */

.fixed{
    background-color: #000;
    position: fixed;
    right: 0;
    bottom: 0;
}